# remove application files & folder
!.gitignore
!LICENSE
!README.md
application/cache
application/config/*
!application/config/theme.php
application/controllers/*
!application/controllers/Welcome.php
application/core
application/helpers/*
!application/helpers/theme_helper.php
application/hooks
application/language
application/libraries/*
!application/libraries/Theme.php
application/logs
application/models
application/third_party
application/views

# remove system files & folder
system

# Keepin content folder
!content/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
