# remove application files & folder
!.gitignore
!LICENSE
!README.md
application/*
!application/config/theme.php
!application/controllers/Welcome.php
!application/helpers/theme_helper.php
!application/libraries/Theme.php

# remove system files & folder
system/*

# Keepin content folder
!content/*

# Remove index.php
index.php

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
